<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Added a Person</title>
  </head>
  <body>
    <h1>Hooray! We added a person</h1>

    <ul>
      <li>Name: <%= person.name %></li>
      <li>Phone_number: <%= person.phone_number %></li>
      <li>Address: <%= person.address %></li>
      <li>Position:<%= person.position %><li>
      <li>Salary:<%= person.salary  %></li>
      <li>Github:<%= person.github_account %></li>
      <li>Slack:<%= person.slack_account %></li>
    </ul>
  </body>
</html>
