<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found a Person</title>
  </head>
  <body>
    <!-- Figure out how to handle the case where we found a person
    and where we did NOT find a person -->
    <% if person %>
    <h1>Hooray! We found <%=person.name%></h1>

    <ul>
      <li>Name: <%= person.name %></li>
      <li>Phone_number: <%= person.phone_number %></li>
      <li>Address: <%= person.address %></li>
      <li>Position:<%= person.position %><li>
      <li>Salary:<%= person.salary  %></li>
      <li>Github:<%= person.github_account %></li>
      <li>Slack:<%= person.slack_account %></li>
    </ul>
    <% else %>
    <form class="" action="/search" method="get">
      <H2>No such name found</H2><input name="name" type="text">
      <input type="submit" value="Save">
    </form>
    <%end%>
  </body>
</html>
